package partials

templ StatsBox(title string, value string, className string) {
  <div class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center h-full justify-center">
    <h3 class="text-lg font-bold">{title}</h3>
    <p class={"text-3xl font-bold", className}>{value}</p>
  </div>
}